#root {
  margin: 0 ;
  text-align: center;
  box-sizing: border-box;
  padding: 0%;
  font-weight: lighter;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
:root{
  --backgound_dark : rgb(10,10,10);
  --backgound_white : rgb(250,250,250);
  --backgound_lightgrey : rgb(163,163,163);
  --border_light:rgba(38,38,38,0.3);
  --border_dark:rgba(229,229,229,0.3);
  --backround_expcard_light:#F5F5F5;
  --backround_expcard_dark:#262626;
}
*{
  text-align: center;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#light{
  background-color: var(--backgound_white);
  color: var(--backgound_dark);
  --border_color:var(--border_light);
  --backgound_color:var(--backgound_white);
  --background_expcard:var(--backround_expcard_light);
  --border_expcard:var(--backround_expcard_light);
  --font_color:var(--backgound_dark);
}
#dark{
  background-color: var(--backgound_dark);
  color: var(--backgound_white);
  --border_color:var(--border_dark);
  --backgound_color:var(--backgound_dark);
  --background_expcard:var(--backround_expcard_dark);
  --border_expcard:var(--backround_expcard_dark);
  --font_color:var(--backgound_white);
}
.page{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  top: 0px;
  left: 0px;
}
.navbar{
  background-color: rgba(--backgound_color,0.6);
  width: 100%;
  height: 3.5625rem;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  backdrop-filter: blur(8px); 
  border-bottom: 1px solid var(--border_color);

}

.navbar button{
  height: 100%;
  font-size: 20px;
  font-weight: 700;
}
.name-but{
  font-size: 20px;
  margin-left: 67px;
}

.navs-but{
  margin-right: 3.125rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-right: 67px;
}
.navs-but button{
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  font-size: 14px;
  margin-left: 14px;
}

.footer{
  background-color: transparent;
  width: 80%;
  height: 4.313rem;
  bottom: 0px;
  padding: 24px 0px;
}
.footer p{
  text-align: start;
  width: 100%;
  margin-left: 70px;
}
.page{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.skills-section{
  height: 330px;
  width: 100%;
  background-color: transparent;
  padding: 48px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.go-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.go-buttons button{
  border: 1px solid var(--border_color);
  border-radius: 6px;
  font-size: 14px;
  Height: 36px;
  Width: 93.4688px;
  margin-left:16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  align-items: center;
}
#logo{
  size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 100%;
}
.skill-card{
  background-color: var(--background_expcard);
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);    
}
.project-container{ 
  display: flex;
  flex-direction: row; 
  justify-content: start;
  overflow-x: auto;          /* allow horizontal scroll */
  overflow-y: hidden;        /* block vertical scroll */
  white-space: nowrap;       /* keep items in a row */
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;    
}
.lets-connect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lets-connect h2{
  font-size: 32px;
}
.lets-connect-btn{
  height: 48px;
  width: 248px;
  background-color: var(--font_color);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.lets-connect-btn p{
  color: var(--backgound_color);
  font-size: 16px;
  margin-left: 10px;
}
#logo-opp{
  color: var(--backgound_color);
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}