.main{
    background-color: transparent;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 54.313rem;
    padding: 48px 16px;
}

.about-section{
    background-color: transparent;
    width: 54.313rem;
}
.hello{
    font-size: 2.8rem;
}

.trasnform-div{
    width: 100%;
    background-color: transparent;
}
.para{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-section p{
    width: 672px;
    height: 112px;
}
.go-buttons{
    background-color: transparent;
    width: 100%;
    height: 30px;
}

.go-buttons button{
    gap: 4px;
}
.experince-section{
    width: 100%;
}
.titles{
    font-size: 2.25rem;
    font-weight: 500;
}
.project-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: scroll;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 54.313rem;
    overflow-x: auto;          /* allow horizontal scroll */
    overflow-y: hidden;        /* block vertical scroll */
    white-space: nowrap;       /* keep items in a row */
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */  
}
.lets-connect{
    width : 100%;
    height: 216px;
    padding: 48px 0px;
    background-color: transparent;
}
